<!--新規投稿画面-->

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-10">
      <br>
      <h5><b>投稿</b></h5>
      <br>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <%= form_with model: @post, url: posts_path do |f| %>
          <div>
            <div><b>タイトル</b></div>
            <div><%= f.text_field :title %></div>
          </div>
          <div>
            <div>カテゴリ</div>
            <div><%= f.select :category_id, @categories.map { |category| [category.name, category.id] },
                { include_blank: '--選択してください--'} %></div>
          </div>
          <div>
            <div><b>本文</b></div>
            <div><%= f.text_area :body %></div>
          </div>
          <div>
            <div><b>画像</b></div>
            <div><%= f.file_field :image, accept: "image/*" %></div>
          </div>
          <div>
            <br>
            <div><%= f.submit '投稿する', class: 'btn btn-success' %></div>
          </div>
        <% end %>
    </div>
    <div class="col-lg-2"></div>

  </div>
</div>
