<!--新規投稿画面-->

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-10">
      <br>
      <h5><b>投稿</b></h5>
      <br>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <table class="table">
        <%= form_with model: @post, url:posts_path do |f| %>
        <tr>
          <td><b>タイトル</b></td>
          <td><%= f.text_field :title %></td>
        </tr>
        <tr>
          <td><b>本文</b></td>
          <td><%= f.text_area :body %></td>
        </tr>
        <tr>
          <td><b>画像</b></td>
          <td><%= f.file_field :image, accept: "image/*" %></td>
        </tr>
        <tr>
          <td></td>
          <td><%= f.submit '投稿する', class: 'btn btn-success' %></td>
        </tr>
        <% end %>
      </table>
    </div>
    <div class="col-lg-2"></div>

  </div>
</div>
