
<div class = "container">
  <div class = "row">
    <div class = "col-12">

      <h4>タイトル：<%= @post.title %></h4>
      <div>投稿者：<%= @post.customer.name %></div>
      <div><%= image_tag @post.get_image(600,400) %></div>
      <br>
      <div><%= @post.body %></div>

      <%= link_to "管理者として削除", admin_post_path(@post.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>

      <div>
        <p>コメント：<%= @post.post_comments.count %>件</p>
        <% @post.post_comments.each do |post_comment| %>
          <p><%= post_comment.customer.name %>
             <%= post_comment.created_at.strftime('%Y/%m/%d') %></br>
             <%= post_comment.comment %>
             <%= link_to "管理者として削除", post_post_comment_path(post_comment.post, post_comment), method: :delete %>
          </p>
        <% end %>
      </div>

    </div>
  </div>
</div>