<br>
<div class="container">
  <div class="row">
    <div class="col-5">
      <h1>カテゴリ追加</h1>
          <%= form_with model: @category, url: categories_path, method: :post do |f| %>
          <div>
            <div><b>カテゴリ名</b></div>
            <div><%= f.text_field :name %></div>
          </div>
          <div>
            <div><b>説明</b></div>
            <div><%= f.text_area :body %></div>
          </div>
          <div>
            <div><%= f.submit '追加する', class: 'btn btn-success' %></div>
          </div>
          <% end %>
    </div>

    <div class="col-7">
      <h1>カテゴリ一覧</h1>
      <table class="table table-striped">
        <tr class="thread-light">
          <th>カテゴリ名</th>
          <th>説明</th>
          <th><!--編集--></th>
        </tr>
        <% @categories.each do |category| %>
          <tr>
            <td><%= category.name %></td>
            <td><%= category.body %></td>
            <td><%= link_to "編集", edit_category_path(category.id), class: 'btn btn-success' %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>