<!--管理者・会員詳細ページ-->
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h3><b>会員情報</b></h3>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-lg-1">
      <b>登録情報</b>
    </div>
    <div class="col-lg-2">
      <% if @customer == current_customer %>
        <p><%= link_to "編集する", edit_user_path, class:"btn btn-success" %></p>
      <% end %>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-lg-6">
      <table class="table table-striped">

        <tr>
          <td>氏名</td>
          <td><%= @customer.name%></td>
        </tr>

        <tr>
          <td>フリガナ</td>
          <td><%= @customer.name_kana%></td>
        </tr>

        <tr>
          <td>電話番号</td>
          <td><%= @customer.telephone_number %></td>
        </tr>

        <tr>
          <td>メールアドレス</td>
          <td><%= @customer.email %></td>
        </tr>

        <tr>
          <td>会員ステータス</td>
          <td><%= @customer.experience.name %></td>
        </tr>

        <tr>
          <td>状態</td>
          <% if @customer.is_deleted == false %>
             <td class="text-success"><b>有効</b></td>
          <% else %>
             <td class="text-secondary"><b>退会</b></td>
          <% end %>
        </tr>

      </table>
      <%= link_to "編集する", edit_admin_user_path(@customer.id), class: 'btn btn-danger m-4' %>
    </div>
  </div>
</div>
