<!DOCTYPE html>
<html>
  <head>
    <title>Carstation</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<!--ヘッダー-->
  <body>
    <header class="header bg-dark">
     <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <div class="row">
          <h2 class="border border-dark rounded m-2 "><%= link_to "Carstation",root_path %></h2>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav ml-auto">
                <!--管理者側ログイン時のヘッダー-->
                <% if admin_signed_in? %>
                  <li class="nav-link text-light">
                    <%= link_to "投稿一覧", admin_posts_path, class:'btn btn-outline-secondary' %>
                  </li>
                  <li class="nav-link text-light">
                    <%= link_to "会員一覧", admin_users_path, class:'btn btn-outline-secondary' %>
                  </li>
                  <li class="nav-link text-light">
                    <%= link_to "カテゴリ一覧", admin_categories_path, class:'btn btn-outline-secondary' %>
                  </li>
                  <li class="nav-link text-light">
                    <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class:'btn btn-outline-secondary' %>
                  </li>
                <!--顧客側ログイン時のヘッダー-->
                <% elsif customer_signed_in? %>
                  <li class="d-flex align-items-center text-white ">
                    　　ようこそ、 <b><%= current_customer.name %><!-- current_customer.first_name --></b>さん!
                  </li>
                  <li class="nav-link text-light">
                    <%= link_to "会員情報", user_path(current_customer.id), class:'btn btn-outline-secondary' %>
                  </li>
                  <li class="nav-link text-light">
                    <%= link_to "投稿一覧", posts_path, class:'btn btn-outline-secondary' %>
                  </li>
                  <li class="nav-link text-light">
                    <%= link_to "カテゴリ一覧", categories_path, class:'btn btn-outline-secondary' %>
                  </li>
                  <li class="nav-link text-light">
                    <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class:'btn btn-outline-secondary' %>
                  </li>

                    <%= render 'layouts/search' %>

                <% else %>
                <!--ログイン前のヘッダー-->
                  <li class="nav-link text-light">
                    <%= link_to "Carstationとは", homes_about_path, class:'btn btn-outline-secondary' %>
                  </li>
                  <li class="nav-link text-light">
                    <%= link_to "新規登録", new_customer_registration_path, data: {"turbolinks" => false}, class:'btn btn-outline-secondary' %>
                  </li>
                  <li class="nav-link text-light">
                    <%= link_to "ログイン", new_customer_session_path, class:'btn btn-outline-secondary' %>
                  </li>
                <% end %>
              </ul>

            </div>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <br>
      <%= yield %>
    </main>

<!--フッダー-->
    <footer class="footer bg-dark">
      <div class='container mt-5'>
        <div class='row'>
          <div class='mx-auto'>
            <br>
            </br>
            <p class="text text-white">@Carstation</p>
            <br>
            </br>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>
